#contact .sub-part-content{
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 100px;
}

.contact-mail,
.contact-phone,
.contact-linkedin{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contact-icon{
    height: 40px;
    border: none;
}

.contact-icon img{
    height: 100%;
}

.contact-container p{
    font-weight: 700;
    text-align: center;
    font-size: 0;
    transition: font-size 0.15s;
    margin-top: 10px;
}

.contact-mail p{
    color: rgb(255, 8, 0);
}

.contact-phone p{
    color: rgb(33, 233, 0);
}

.contact-linkedin p{
    color: rgb(14, 118, 168);
}

.contact-container div:hover p,
.contact-container a:hover p{
    font-size: 15px;
}

@media screen and (max-width: 690px) {
    .contact-container div:hover p,
    .contact-container a:hover p{
        font-size: 10px;
    }
}