#home{
    scroll-margin-top: 128px;
    margin-top: 63px;
    height: calc(100vh - 63px);
    background-image: url("../img/pictures/banner.jpeg");
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    #home{
        margin-top: 84px;
        scroll-margin-top: 168px;
        height: calc(100vh - 84px);
    }
}

.home-text-content{
    position: absolute;
    bottom: 7vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.home-name{
    color: white;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 1vh;
}

.home-studies{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 3vh;
    font-weight: 500;
}

.home-looking-for{
    color:  rgb(213, 233, 247);
    font-size: 30px;
}

.home-bold{
    font-weight: 500;
}

@media screen and (max-width: 960px) {
    .home-name{
        font-size: 4.3vw;
    }

    .home-studies{
        font-size: 5.5vw;
    }

    .home-looking-for{
        font-size: 3.7vw;
    }

    .home-text-content{
        margin-bottom: 8.5vh;
    }
}
