#journey{
    background-color: rgb(213, 233, 247);
}

.year-div-container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.year-box:nth-child(odd){
    margin-right: 20%;
    margin-left: 0;
}

.year-box:nth-child(even){
    margin-left: 20%;
    margin-right: 0;
}

.year-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 1px grey;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}