.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(10, 23, 37);
    opacity: 0.9;
}

@media screen and (max-width: 690px) {
    .navbar-link-grid{
        flex-direction: column;
    }
    .navbar{
        height: 80px;
    }
}

.navbar-link-grid {
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar-link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 10vw;
    min-width: 120px;
    border-radius: 10px;
    transition: background-color 0.15s;
}


.navbar-link p{
    font-size: 0.8em;
    color: white;
    text-align: center;
}


.navbar-link:hover{
    background-color: white;
    opacity: 0.9;
}

.navbar-link:hover p{
    color: rgb(10, 23, 37);
}

.navbar-link:active{
    background-color: rgb(10, 23, 37);
}

.navbar-link:active p{
    color: white;
}

.navbar-button{
    display: flex;
    align-items: center;
    height: 30px;
    width: 155px;
    border: none;
    background-color: rgb(10, 23, 37);
    transition: opacity 0.15s;
    cursor: pointer;
}

.navbar-button:hover{
    opacity: 0.9;
}

.navbar-button:active{
    opacity: 0.1;
}

.navbar-button img{
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-button p{
    color: white;
    font-size: 10px;
}