.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 960px) {
    .project-grid {
      grid-template-columns: 1fr;
    }
}

.project-preview{
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 233, 247);
    overflow: hidden;
    border: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: rgb(203, 223, 237);
    box-shadow: 0 1px 5px 2px rgb(213, 233, 247);
}

.thumbnail-container{
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail{
    height: 100%;
    width: auto;
}

.project-info-grid{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 360px;
    left: 0;
    right: 0;
    z-index: 50;
    background-color:  white;
    border-top: solid;
    border-top-width: 2px;
    border-top-color: rgb(230, 230, 230);
    transition: top 0.5s;
}

.project-title{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgb(30, 48, 80);
}

.project-preview:hover .project-info-grid{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
}

.project-tech-used{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(213, 233, 247);
    width: 13%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.tech-logo{
    height: 20px;
}

.tech-alt-text{
    font-size: 10px;
    margin-top: 2px;
    font-weight: 500;
    color: rgb(30, 48, 80);
}

.project-description{
    overflow-y: auto;
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
}

.project-description-header{
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 17px;
}

.project-description-body{
    padding-left: 10px;
    margin-top: 15px;
    font-size: 15px;
}

.project-description-body p{
    margin-top: 10px;
}

.example{
    color: grey;
    margin-left: 10px;

}

.project-link-container{
    display: flex;
    justify-content: center;
}

.project-link{
    background-color: rgb(30, 48, 80);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 0;
    transition: height 0.5s;
    transition: padding-top 0.5s;
    transition: padding-bottom 0.5s;
}

.project-preview:hover .project-link{
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}

.project-link:hover{
    box-shadow: 1px 1px 3px 1px grey;
}