#skills{
    background-color: rgb(213, 233, 247);
}

.year-div-container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.year-box:nth-child(odd){
    margin-right: 20%;
    margin-left: 0;
    box-shadow: 3px 3px 5px 1px grey;
}

.year-box:nth-child(even){
    margin-left: 20%;
    margin-right: 0;
    box-shadow: -3px 3px 5px 1px grey;
}

.year-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.year-title{
    width: 215px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 8px;
    color: white;
    padding-top: 5px;
    padding-bottom: 4px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(59, 93, 156);
}

.year-content{
    display: flex;
}

@media screen and (max-width: 960px) {
    .year-content {
        flex-direction: column;
    }
}

.year-tech{
    flex: 1;
    padding-right: 3%;
    padding-left: 3%;
}

.year-tech-header{
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

.language{
    padding-top: 3px;
}

.scoring{
    color: rgb(59, 93, 156);
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .year-tech-header{
        font-size: 1em;
        justify-content: space-between;
    }
}

.environment-content{
    padding-left: 3%;
}

.environment-content img{
    width: 20px;
}

.environment-content p{
    display: inline-block;
    width: 100%;
    color: grey;
    height: 20px;
    margin-top: 10px;
}

.environment-div-title{
    color: black;
    font-weight: 500;
}